main{
    display:flex;
    align-items: flex-start;
    padding:40px;
    margin: 0 auto;
    max-width: 900px;

    aside{
        width:100%;
        max-width: 200px;
        display:block;
        padding:0 20px;
    }

}
.playgroundContainer{
    display: grid;
    grid-template-rows: repeat(20,calc(25vw/12));
    grid-template-columns: repeat(12,1fr);
    grid-gap: 1px;
    border:2px solid #333;
    width: 100%;
    max-width: 25vw;
    background: #111;
}
